
<%= image_tag current_user.avatar.url %>
<p style="margin-left: 20px; margin-top: 20px;position:relative; ">
	<% if current_user == @profile.user %>
		<%= link_to "Edit Profile", edit_profile_path(@profile) %>
		<br>
	<% end %>
Name: <%= @profile.user.name %>
<br>
Email: <%= @profile.user.email %>
<br>
Fraternity: <%= @profile.user.fraternity.name %> ( <%= @profile.user.fraternity.greek_name %> )
<br>
Birthday: <%= @profile.birthday %>
<br>
Age: <%= @profile.age %><br>
<br><strong>About:</strong> <%= @profile.about %><br></p>
