<br>

<%= form_for @comment, :url => event_comments_path(@event), :html => {:class => "form-horizontal"} do |f| %>

<div class="control-group">

	<%= f.label :title, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :title, :placeholder => "Add a comment!" %>
	</div>
</div>
<div class="control-group offset0">
	<%= f.label :body, :class => "control-label"%>
	<div class="controls">
		<%= f.text_area :body, :placeholder => "Text here", :style => "width: 500px; height: 100px"  %>
	</div>
</div>

	<br>
  <%= f.submit :class => 'btn-primary btn controls' %>
<% end %>