<!DOCTYPE html>
<html>
<head>
  <title>Brocator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<br><br>

	<div class="container">
    <div class="row">
			<div class="span8 offset8">
				<div class="navbar navbar-fixed-top navbar-inverse">
				  <div class="navbar-inner">
				    <div class="container">
							<ul class="nav">
							  <li class="active">
							    <a class="brand" href="/"><b>Bro</b>cator</a>
							  <li><a href="/events">Find Events</a></li>
							  <li><a href="/events/new">Add Event</a></li>
							</ul>
              <ul class="nav pull-right">
								<% if current_user  && current_user.profile %>
								<li>
									<%= link_to 'My Profile', profile_path(current_user.profile) %>
								</li>
								<% end %><li>
									<%= current_user ? link_to("Log Out", destroy_user_session_path, :method => :delete) : '' %>
								</li>

							</ul>
							<form action="/search" class="navbar-search pull-right">
							  <input type="text" name="name" class="search-query" placeholder="Find a bro!" id="input" autocomplete="off">
							  <button type="Submit" style="border-radius: 100%;"><i class="icon-search"></i></button>
							</form>



				    </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="well span9 offset1">
			<div class="content" id="content">
				<%= yield %>
			</div>
		</div>
	</div>

	<script>
		$(function(){
			$('#input').typeahead(
				{
				name: 'user',
				source: <%= User.all.empty? ? User.all.map{|user| user.fname + ' ' + user.lame }.to_json.html_safe : '' %>,
				}
			);
		})
		console.log("typehead")
	</script>

</body>
</html>
